@use "./variables" as v;

p {
  color: v.$text-color;
}

// jeremy typography
.jeremy-box {
  text-transform: capitalize;
  p {
    font-weight: 300;
    margin-left: 20px;
  }

  p:last-child {
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 80px;
  }
  &:hover {
    cursor: pointer;
  }
}

.jeremy-time {
  P {
    margin: 20px 0 30px 20px;
    text-transform: capitalize;
    color: hsl(235, 45%, 61%);
  }
  p:last-child {
    padding-bottom: 20px;
  }
}

.jeremy-time p:hover {
  cursor: pointer;
  color: white;
}

// boxes for work, excercise, play etc

.box-content {
  width: 80%;
  margin: 0 auto;
  text-transform: capitalize;
  padding: 20px;
  p:first-child {
    margin-bottom: 1.5em;
    font-weight: 400;
  }
  :nth-child(2) {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    font-weight: 500;
  }
  :nth-child(3) {
    font-weight: 300;
    color: hsl(235, 45%, 61%);
  }
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 1050px) {
  .box-content {
    padding: 5px;

    p:nth-child(2) {
      font-size: 1.5rem;
    }
  }
}

.work-text {
  p {
    display: inline-block;
    width: 80%;
    min-width: 5%;
  }
  &:hover {
    cursor: pointer;
  }

  &::after {
    content: url(../images/icon-ellipsis.svg);
    display: inline-block;
    text-align: right;
    width: 17%;
  }
}
@media (max-width: 1050px) {
  .work-text {
    p {
      width: 60%;
    }
  }
}
