$background-color: hsl(226, 43%, 10%);
$site-width: 1500px;
$text-color: white;
$font: "Rubik", sans-serif;
$box-background: hsl(235, 46%, 20%);
$banner-margin: 20px 20px 0 20px;
$content-margin: 0 20px 20px 20px;
